body {
    font-family: Arial, sans-serif;
    padding: 2em;
    background: #f9f9f9
}

#login, #members {
    max-width: 500px;
    margin: auto;
}

.hidden {
    display: none;
}

input {
    padding: 0.5em;
    width: 100%;
    margin: 0.5em 0;
}

button {
    padding: 0.5em 1em;
}